{$DOMAIN:localhost} {
	encode gzip

	handle /api/* {
		reverse_proxy server:3000
	}

	handle_path /pb/* {
		reverse_proxy pocketbase:8090
	}

	handle {
		root * /srv/web
		try_files {path} /index.html
		file_server
	}
}
